footer(class="p-fixed-btm")
	div(class="flex-center w-100")
		i(class="fab fa-steam-symbol")
		i(class="fab fa-discord")
		i(class="fab fa-spotify")
		i(class="fab fa-npm")
		i(class="fab fa-github")
		i(class="fab fa-linkedin")
		i(class="fab fa-stack-overflow")
		i(class="fab fa-reddit-alien")
		i(class="fab fa-facebook-f")
		i(class="fab fa-twitter")
		i(class="fab fa-instagram")
