header

	div(class="container flex-between")
		nav
			a(href="/") home
			a(href="/info") info
			a(href="/tools") tools
			a(href="/projects") projects
			a(href="/contact") contact

		button(class="button-resume") resume
