header
	div(class="container flex-between")
		//- div(class="nav-bars")
		//- 	i(class="fa fa-bars")
		nav(class="nav-bars")
			a(href="#nav-bars")
				i(class="fa fa-bars")

		nav
			a(href="/") HOME
			a(href="#info") INFO
			a(href="#tools") TOOLS
			a(href="#projects") PROJECTS
			a(href="#contact") CONTACT
		div
			i(class="fa fa-sun mr-md" id="light-toggler")
			button(class="button-resume") resume
				i(class="fas fa-arrow-right")
