header
	div(class="container flex-between")
		div(class="mobile-header")
			div(class="mobile-header-container")
				div(class="mobile-header-head")
					i(class="fa fa-times nav-closer")
				div(class="mobile-header-body")
					each pageObject in nav.pages
						each page in pageObject
							a(href=page.link)=page.title

		nav(class="nav-bars")
			a(href="#nav-bars")
				i(class="fa fa-bars")
		nav
			each pageObject in nav.pages
				each page in pageObject
					a(href=page.link)=page.title
		div
			i(class="fa fa-sun mr-md" id="light-toggler")
			button(class="button-resume") resume
				i(class="fas fa-arrow-right")
