div(class="resume-header")
	i(class="fa fa-arrow-left resume-closer")
div(class="resume-body-container")
	div(class="resume-body" id="resume-body")
		each resumeSection,index in resume.sections
			section(class="resume-section")
				include resume.sections.pug
div(class="resume-footer")
	div(class="resume-footer-container")
		button(class="d-none-mobile-resume-btn" id="resumeDocxDownloader") Download DOCX
			i(class="fas fa-download ml-10")
		button(id="resumePdfOpener") Download PDF
			i(class="fas fa-external-link-square-alt ml-10")
