body
	font-family: Monospace

.container
	padding: 14px 0px
	font-size: 16px

.flex-between
	display: flex
	justify-content: space-between
	align-items: center

header
	background: purple

header div nav a
	color: white
	padding: 26px 18px
	letter-spacing: 0.8px
	&:hover
		background: green


.button-resume
	margin-right: 18px
	padding: 10px
	color: white
	background: green
	cursor: pointer
	border: 2px solid white
	border-radius: 5px
	font-size: 14px
	letter-spacing: 0.8px
