body
	font-family: 'Oswald', sans-serif
	letter-spacing: 2px
	background: #19171c

.overflow-hidden
	overflow: hidden

.container
	padding: 14px 0px
	font-size: 16px

.ml-10
	margin-left: 10px

.w-100
	width: 100vw

.flex-between
	display: flex
	justify-content: space-between
	align-items: center

.flex-around
	display: flex
	justify-content: space-around
	align-items: center

.flex-center
	display: flex
	justify-content: center
	align-items: center

	button
		margin: 0 5px
		padding: 6px 10px
		color: white
		background: transparent
		cursor: pointer
		border: 1px solid white
		border-radius: 5px
		font-family: 'Oswald', sans-serif
		font-size: 14px
		letter-spacing: 2px
		&:hover
			background: #4b367c

.p-fixed-btm
	position: fixed
	bottom: 0

header
	position: absolute
	top: 0
	width: 100vw

header, footer
	color: #b19dd8
	background: #4b367c

header div nav a
	color: #b19dd8
	padding: 17px 18px
	text-transform: uppercase
	// letter-spacing: 0.8px
	&:hover
		color: white
		border-bottom: 2px solid white
		// background: #252728

.flipped-footer
	display: none
	margin-top: -57.5px
	.flipped-footer-container
		position: relative
		z-index: 1003
footer, .flipped-footer
	background: #4b367c
	z-index: 1003
	a
		text-align: center
		width: 25%
		padding: 16px 0px
		color: #b19dd8
		font-size: 22px
		cursor: pointer
		border-bottom: 2px solid transparent
		&:hover
			color: white
			border-bottom: 2px solid white
			// background: #252728

.button-resume
	margin-right: 18px
	padding: 6px 10px
	color: white
	background: transparent
	cursor: pointer
	border: 1px solid white
	border-radius: 5px
	font-family: 'Oswald', sans-serif
	font-size: 14px
	letter-spacing: 2px
	&:hover
		border: 1px solid #b19dd8
		// color: #b19dd8
	i
		margin-left: 6px

#light-toggler
	color: #b19dd8
	padding: 10px
	margin-right: 4px
	&:hover
		color: white

.mr-md
	margin-right: 16px
.ml-10
	margin-left: 10px
.mt-14
	margin-top: 14px
.txt-center
	text-align: center
.txt-uppercase
	text-transform: uppercase

.main-container
	margin-top: 0 !important
	width: 100vw
	height: 100vh
	color: #b19dd8
	a
		color: white
	// outline: 2px solid red
	// display: flex
	// justify-content: center
	// align-items: center

	h1
		font-size: 22px
		// text-align: center

.hero-text-middle
	width: 100%
	display: flex
	justify-content: center
	align-items: center
	// outline: 2px solid red
	height: 100%
	animation: animHeroTitle 2s
	.hero-text-middle-text
		font-size: 36px
		text-align: center
		padding: 20px 50px
		line-height: 34px
		text-transform: uppercase
		color: white !important
		background: -webkit-linear-gradient(#FFF, #4b367c)
		-webkit-background-clip: text
		-webkit-text-fill-color: transparent
		.h-36
			height: 42px
		br
			display: none
	.hero-text-middle-buttons
		display: flex
		justify-content: center
		button
			margin: 0 5px
			padding: 9px 10px
			color: white
			background: transparent
			cursor: pointer
			border: 1px solid white
			border-radius: 5px
			font-family: 'Oswald', sans-serif
			font-size: 14px
			letter-spacing: 2px
			text-transform: uppercase
			&:hover
				// border: 1px solid #b19dd8
				// color: #b19dd8
				background: #4b367c


// STARS code

// n is number of stars required
@function multiple-box-shadow ($n)
  $value: '#{random(2000)}px #{random(2000)}px #FFF'
  @for $i from 2 through $n
    $value: '#{$value} , #{random(2000)}px #{random(2000)}px #FFF'

  @return unquote($value)

$shadows-small:  multiple-box-shadow(700)
$shadows-medium: multiple-box-shadow(200)
$shadows-big:    multiple-box-shadow(100)

#stars
  width: 1px
  height: 1px
  background: transparent
  box-shadow: $shadows-small
  animation: animStar 30s linear infinite

  &:after
    content: " "
    position: absolute
    top: 2000px
		z-index: 1001
    width: 1px
    height: 1px
    background: transparent
    box-shadow: $shadows-small

#stars2
  width: 2px
  height: 2px
  background: transparent
  box-shadow: $shadows-medium
  animation: animStar 20s linear infinite

  &:after
    content: " "
    position: absolute
    top: 2000px
		z-index: 1001
    width: 2px
    height: 2px
    background: transparent
    box-shadow: $shadows-medium

#stars3
  width: 2.5px
  height: 2.5px
  background: transparent
  box-shadow: $shadows-big
  animation: animStar 15s linear infinite

  &:after
    content: " "
    position: absolute
    top: 2000px
		z-index: 1001
    width: 2.5px
    height: 2.5px
    background: transparent
    box-shadow: $shadows-big

@keyframes animHeroTitle
  from
    opacity: 0
  to
    opacity: 1

@keyframes animStar
  from
    transform: translateY(0px)
  to
    transform: translateY(-2000px)
// end STARS code

.nav-bars
	display: none
	cursor: pointer
	// margin-left: 18px
	&:hover
		color: white
	i
		font-size: 22px
		// padding: 17px 18px

.mobile-header
	display: none
	width: 100vw
	height: 100vh
	position: fixed
	top: 0
	left: 0
	// z-index: 1001
	background: #4b367c
	animation: animMobileHeader 0.8s

	.mobile-header-container
		width: 100%
		height: 100%
		// display: flex
		// flex-direction: column
		animation: animFlipBackBoxContentOP 2s
	.mobile-header-head
		text-align: right
		// margin-bottom: 18px
		// outline: 2px solid lime
		i
			padding: 18px
			border-bottom: 2px solid transparent
			font-size: 24px
			&:hover
				color: white
				border-bottom: 2px solid white
	.mobile-header-body
		// outline: 2px solid lime
		margin-top: 16vh
		display: flex
		flex-direction: column
		align-items: center
		a
			color: #b19dd8
			padding: 16px
			text-transform: uppercase
			border-bottom: 2px solid transparent
			&:hover
				color: white
				border-bottom: 2px solid white

.mobile-header-close-animation
	animation: animMobileHeaderClose 0.8s

@keyframes animMobileHeader
	from
		height: 0vh
	to
		height: 100vh

@keyframes animMobileHeaderClose
	from
		height: 100vh
	to
		height: 0vh

@media only screen and (max-width: 801px)
	#resume-body
		// flex-wrap: nowrap !important
		section
			width: 80vw !important
			margin-left: auto
			margin-right: auto
	.d-none-mobile-resume-btn
		display: none !important
	.resume-footer-container
		button
			width: 100% !important
	.resume-section
		text-align: center
	.d-none-desktop-resume-zaps1
		display: none !important

@media only screen and (max-width: 650px)
	header div nav
		display: none
	.nav-bars
		display: block
	.hero-text-middle-text
		font-size: 26px !important
		br
			display: block !important
		.h-36
			height: 30px !important
	.hero-text-middle-buttons
		button
			font-size: 12px !important
			// padding: 4px 8px !important
	.flip-box-back-content-container
		border-color: transparent !important

@media only screen and (max-width: 650px) and (max-height: 490px)
	.mobile-header-body
		margin-top: 3vh !important

@media only screen and (max-width: 1200px)
	.resume-body
		// flex-direction: column
		justify-content: space-around !important
		flex-wrap: wrap
		section
			width: 44vw !important
			// display: none !important
	// .resume-body-mobile
	// 	display: flex !important

.flip-box
	background-color: transparent
	width: 100vw
	height: 100vh
	perspective: 3000px
	.flip-box-container
		position: relative
  	width: 100%
  	height: 100%
  	transform-style: preserve-3d
		.flip-box-front, .flip-box-back
			position: absolute
  		width: 100%
  		height: 100%
			// z-index: 1003
  		backface-visibility: hidden
		.flip-box-front
			animation: animResumeBoxContent 0.6s
		.flip-box-back
			transform: rotateY(-180deg);
			overflow: hidden !important

		.flip-box-back-content
			color: #b19dd8
			background: #19171c
			width: 100vw
			height: 100vh
			display: none
			animation: animResumeBox 1.2s
			overflow-x: hidden !important
			overflow-y: scroll !important
			scroll-behavior: smooth !important
		.flip-box-back-content-container
			height: 100vh !important
			// padding: 10px
			// border: 6px solid #4b367c
			// overflow: scroll !important
			// animation: animResumeBoxContent 5s
		@keyframes animResumeBoxContent
			from
				opacity: 0
			to
				opacity: 1
		@keyframes animResumeBox
			from
				background: transparent
			to
				background: #19171c

@keyframes animFrontBox
	from
		opacity: 0
	to
		opacity: 1


.resume-header
	position: absolute
	top: 0
	// left: 0
	width: 100%
	z-index: 1010
	border-bottom: 2px solid transparent
	i
		width: 100%
		color: #b19dd8
		font-size: 22px
		padding: 18px
		background: rgba(25,23,28,0.925) !important
		&:hover
			color: white
			background: rgba(25,23,28,0.950) !important
.resume-body
	margin-top: 60px
	margin-bottom: 60px
	display: flex
	justify-content: space-between
	align-items: flex-start
	width: 100vw
	height: 100%
	// outline: 2px solid red
	// margin: 20px
	color: white !important
	overflow-y: auto !important
	-webkit-overflow-scrolling: touch !important
	// background: #4b367c !important
	// animation: animFlipBackBoxContentOP 2s
	section
		width: 30%
		height: 100%
		margin: 0 0px 20px 0
		padding: 20px
		// outline: 2px solid lime
		// background: #b19dd8 !important
		border-left: 4px solid #19171c
		border-right: 4px solid #19171c
		border-radius: 16px
		// border-right: 2px solid #19171c
.resume-footer
	position: absolute
	bottom: 0
	z-index: 1010
	width: 100vw
	height: 46px
	// margin-left: -6px
	// button
	// 	width: 50%
	// 	height: 100%
	// 	background: #19171c !important
	// 	color: #b19dd8 !important
	// 	font-size: 16px
	// 	font-family: 'Oswald', sans-serif
	// 	border: 2px solid #b19dd8
	// 	&:hover
	// 		border: 2px solid white
	// 		color: white !important
.resume-footer-container
	display: flex
	justify-content: space-between
	align-items: center
	background: rgba(25,23,28,0.765)
	width: 100%
	height: 100%
	button
		width: 33%
		height: 100%
		background: #19171c !important
		color: #b19dd8 !important
		font-size: 16px
		font-family: 'Oswald', sans-serif
		border: 2px solid #b19dd8
		&:hover
			border: 2px solid white
			color: white !important
.resume-section
	// height: 3000px !important
	// overflow: scroll !important

.resume-section-title
	font-weight: 800
	font-size: 22px
	text-align: center !important
	color: white
	border-bottom: 4px solid #19171c
	padding: 12px 0
	text-transform: uppercase
	// position: fixed
.resume-section-description
	text-transform: uppercase
	font-size: 14px
	margin-top: 40px
	color: white
	margin-bottom: 16px
	// color: #b19dd8
.resume-section-section
	margin-bottom: 20px
	div
		// padding: 16px 0

.resume-body-mobile
	display: none
	flex-direction: column
	justify-content: center
	align-items: flex-start
	background-color: #4b367c
	padding-top: 0
	.resume-body-mobile-section
		padding: 28px 16px
		width: 100%
		// height: 200px
		border-bottom: 10px solid #19171c

.resume-body-mobile-title
	color: white
	font-size: 22px
	padding-bottom: 10px
	border-bottom: 2px solid #19171c
	text-transform: uppercase
.resume-body-mobile-description
	margin-top: 40px
	margin-bottom: 16px
.m-6
	margin: 6px

.resume-section-proficiency-title
	// color: red !important
	margin: 46px 15px 10px 15px
	text-transform: uppercase
	font-weight: 700
	color: white !important
.resume-section-proficiency-topic
	// color: blue !important
	font-weight: normal !important
	margin: 20px 10px 10px 10px
	// color: #19171c
	text-transform: none
	color: white !important
.resume-section-education-organization
	margin: 46px 15px 10px 15px
	font-weight: 600
	color: white !important
	text-transform: uppercase
.resume-section-education-location
	font-weight: normal !important
	color: white
	font-style: italic
	font-size: 14px
	margin: 6px 15px 8px 15px
.resume-section-education-title
	font-weight: normal !important
	color: white
	// font-style: italic
	// font-size: 13px
	margin: 5px 15px 8px 15px
.resume-section-education-year
	font-weight: 500 !important
	// color: #19171c
	// font-style: italic
	font-size: 15px
	// margin: 5px 0 5px 20px
	margin-top: 20px
	color: white !important
	line-height: 24px
	text-align: left
	padding: 0px 40px
	// text-transform: uppercase
.resume-section-section-comment
	margin: 20px 6px

.d-none-desktop-resume-zaps
	display: none
	height: 9px
	margin-left: 6px
.d-none-desktop-resume-zaps1
	height: 9px
	margin-right: 6px

@keyframes animFlipBackBoxContent
	from
		opacity: 1
	to
		opacity: 0

@keyframes animFlipBackBoxContentOP
	from
		opacity: 0
	to
		opacity: 1

.resume-body-container
	position: relative
	z-index: 1006
	// animation: animFlipBackBoxContentOP 0.8s

.scroll-smooth
	scroll-behavior: smooth !important

@keyframes spin
  from
		transform: rotate(0deg)
  to
		transform: rotate(360deg)
