extends assets/components/template.pug
block body
	div(class="main-container overflow-hidden")
		div(id="stars")
		div(id="stars2")
		div(id="stars3")
		div(class="hero-text-middle")
			div(class="hero-text-middle-content")
				div(class="hero-text-middle-text") Welcome to my serverless
					br
					|  portfolio
					i(class="em em-zap ml-10 h-36")
				div(class="hero-text-middle-buttons")
					button Lorem Ipsum
					button Ipsum Lorem
