extends assets/components/template.pug
block body
	div(class="main-container overflow-hidden")
		div(id="stars")
		div(id="stars2")
		div(id="stars3")
		div(id="hero-title")
			span Welcome to my serverless portfolio
				i(class="em em-zap ml-10" style="height:36px;")
			br
			div(class="flex-center mt-14")
				button
					a(href="#info") LOREM IPSUM
				button
					a(href="#site-details") IPSUM LOREM
