extends assets/components/template.pug
block body
	div(class="main-container")
		div(id="stars")
		div(id="stars2")
		div(id="stars3")
		div(id="hero-title")
			span Welcome to my serverless portfolio
				i(class="em em-zap ml-10")
			br
			div(class="flex-center mt-14")
				button ABOUT ME
				button MY PROJECTS
		//- div
		//- 	h1 Welcome to my serverless portfolio
		//- 		i(class="em em-zap ml-10")
		//- 	div(class="flex-center mt-14")
		//- 		button ABOUT ME
		//- 		button MY PROJECTS
