extends assets/components/template.pug
block body
	div(class="main-container")
		div(id="stars")
		div(id="stars2")
		div(id="stars3")
		div(id="hero-title")
			span Welcome to my serverless portfolio
				i(class="em em-zap ml-10" style="height:36px;")
			br
			div(class="flex-center mt-14")
				button
					a(href="#info") ABOUT ME
				button
					a(href="#site-details") SITE DETAILS
		//- div
		//- 	h1 Welcome to my serverless portfolio
		//- 		i(class="em em-zap ml-10")
		//- 	div(class="flex-center mt-14")
		//- 		button ABOUT ME
		//- 		button MY PROJECTS
