extends assets/components/template.pug
block body
	div(class="bread-container")
		div(class="bread-box")
			div
				a(href="/") Home
			div /
			div
				a(href="/info.html") Info
	section(class="page-section-container")
		div(class="page-section-intro-section" style="margin-bottom: 50px;")
			h1(class="text-uppercase")=page.title
			div(class="page-section-text-divider")
		div(class="page-section-body-section")
			img(src=page.imageUrl alt="Picture of me." class="info-section-mobile-changes")
			p(class="info-section-mobile-changes")=page.description
