extends ../../assets/components/template.pug
block body
	div(class="bread-container")
		div(class="bread-box")
			div
				a(href="/") Home
			div /
			div
				a(href="/projects.html") Projects
			div /
			div
				a(href="/projects/gulpify.html") Gulpify
			div /
			div
				a(href="/projects/gulpify/docs.html") Docs
	section(class="page-section-container")
		div(class="page-section-docs-section" style="margin-top: -16px;")
			div(class="page-section-docs-main-container")
				div(class="page-section-docs-main")
					div(class="page-section-docs-main-page-body")
						div HellO world
