extends ../assets/components/template.pug
block body
	div(class="bread-container")
		div(class="bread-box")
			div
				a(href="/") Home
			div /
			div
				a(href="/tools.html") Tools
			div /
			div
				a(href="/tools/recognition.html") Recognition
	section(class="page-section-container")
		div(class="page-section-intro-section")
			h1(class="text-uppercase")=page.title
			div(class="page-section-text-divider")
			p(style="padding-bottom: 40px;")=page.description
		div(class="page-section-tools-container")
			div(id="tool-form")
				input(type="text" placeholder="https://picsum.photos/id/235/200/200" class="tool-input-placeholder")
				input(type="text" placeholder="https://picsum.photos/..." class="tool-input-placeholder-mobile")
				input(type="submit" value="SUBMIT")
			div(style="text-align:center;margin-left: -40px;margin-top: 16px;")
				a(class="tools-help-modal-trigger") Help?
					div(class="tools-help-modal")
						div(class="tools-help-modal-header")
							i(class="fa fa-times")
						div(class="tools-help-modal-body")
							div Hello
			div(style="margin-left: -40px;margin-top: 60px;")
				div(class="page-section-tools-result")
					div(style="margin-bottom: 16px;" class="text-uppercase") Result:
					div(class="tool-result-text") It's quiet....To queit
